<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Project Website</title>
	</head>
	<body>
		<h1 class="text-center text-5xl text-blue-950">Project Website</h1>
	</body>
