---
import '../CSS/global.css'
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Project Website</title>
  <link rel="stylesheet" href="../CSS/global.css">
</head>

<body>
  <div class="video-header">
    <video playsinline autoplay muted loop>
      <source src="/assets/cyberpunk.mp4" type="video/mp4">
    </video>
    <div class="overlay-text">
      <h1 id="year">0</h1>
    </div>
  </div>

	<div class="new-you">
		<img src="/assets/newyou.png" alt="The New You"> 
		<p>The<br>New<br>You</p>
	</div>

	<div class="byd">
		<img src="/assets/cyborgtorso.png" alt="torso">
		<img src="/assets/cyborghand.png" alt="hand">
		<img src="/assets/cyborghead.png" alt="head">
	</div>
	<div class="byd-text"><p>Build Your Dream</p></div>

	<div class="never">
		<p>Never<br>To Early<br>To Start</p>
		<img src="/assets/cyborgbaby.png" alt="torso">
	</div>

	<div class="lifetime">
		<img src="/assets/cyberpunksunset.png" alt="The New You">
		<div class="lifetime-text">
			<p>With Low Interest You Have A Lifetime To Pay</p>
		</div>
	</div>

  <script>
    window.onload = function() {
      let counter = 2000; 
      const endYear = 2052; 
      const intervalTime = 100;  

      const yearEl = document.getElementById('year');

      let timer = setInterval(function() {
        counter++;
        yearEl.textContent = counter;

        if (counter === 2001) {
          yearEl.parentElement.classList.add('fade-in');
        }

        if (counter === endYear) {
          clearInterval(timer);
        }
      }, intervalTime);
    };
  </script>
</body>

</html>

	

