---
import '@fontsource/orbitron';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Project Website</title>
	</head>
	<header>
		
		<video>
			<source src="/src/assets/video/cyberpunk.mp4" type="video/mp4">
		</video>

	</header>
	<body>

		<img src="src/assets/image/newyou.png" alt="New You">
	</body>

	

